.main .con .yk_title{ width: 750px;margin: 0px auto; color: #f60;  margin-bottom: 35px;}
.main .yk_title p{ padding-top: 26px; padding-bottom: 18px;}
.main .con .yk_pro{ border-bottom: 1px dashed #f60; margin: 0px auto; color: #000; width: 750px; padding: 5px 0px;}
.main .partner{ width: 850px; margin: 0px auto; padding: 40px 0px;}
.main .partner .title{ width: 165px; height: 30px; margin: 60px auto 22px; color: #fff; font-size: 18px; background: #f60; line-height: 30px;}

