/*
 * 导航
 */

body {
	font-family: "微软雅黑";
}

.yhead {
	height: 102px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 2px rgba(255, 102, 0, 0.3);
	z-index: 999;
}

.yhead .headlog {
	line-height: 102px;
	height: 102px;
}

.yhead .nav_margin{
		margin-top: 42px;
		float: right;
	}

/**
 * 内容
 */

.ycontent .item a img{
	height: 475px;
}

#about {
	background-image: url(/yuanku_web/img/about_text.png);
	background-position-x: center;
	background-position-y: 30px;
	background-repeat: no-repeat;
}

#about .about_img {
	line-height: 475px;
}

#about .container .about_img img:hover {
	-webkit-animation-name: leftright;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: leftright;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-ms-animation-name: leftright;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: linear;
}

#about .about_content {
	font-family: "微软雅黑";
	font-size: 16px;
	margin-top: 80px;
	height: 300px;
	text-align: justify;
	overflow: hidden;
}

#about .about_content ul {
	list-style: none;
}

#about .about_content p {
	border-bottom: 1px solid #FF6600;
	padding-bottom: 5px;
}
#about .about_content p a{ color: #595757;}


@media(max-width: 990px){
	
	.nav>li>a {
		padding: 10px 0px;
		margin: 0px 10px;
	}
	#about .about_content {
		font-size: 14px;
		margin: 20px 0px;
	}
	#about .about_img {
		line-height: 345px;
		margin-top: 80px;
		text-align: center;
	}
	#news ul{
		margin: 20px 25%;
	}
}
@media(max-width: 767px){
	.yhead .nav_margin{
		margin-top: 10px;
		background-color: #000;
		float: none;
	}
	.yhead .nav_margin li a{
		color: #fff;
	}
}
@media(max-width: 546px){
	.yhead .logo{
		padding: 15px 0px 0px;
		height: auto;
	}
	.yhead .logo img{
		width:100%;
	}
	#about .about_img {
		line-height:100%;
		margin-top: 80px;
		text-align: center;
	}
	#about .about_img  img{
		width: 100%;
	}
}
/*
 *服务 
 */

#service {
	background-image: url(/yuanku_web/img/service_text.png);
	background-position-x: center;
	background-position-y: 30px;
	background-repeat: no-repeat;
	padding-top: 110px;
	font: "微软雅黑" 18px;
}

#service .col-md-2 {
	margin-right: 40px;
	text-align: center;
}

#service .col-md-2 p {
	text-align: center;
	margin-left: 18px;
	line-height: 28px;
}
#service .col-md-2 p a{
	color: #fff;
}
#service .col-md-2:hover {
	-webkit-animation-name: updown;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: updown;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-ms-animation-name: updown;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: linear;
}


/*
 * 校企合作 
 */

#bus {
	background: url(../img/bus_bg.png) no-repeat center 15px;
	padding-top: 32px;
}

#bus .col-md-8 dl dt {
	margin-top: 14px;
	margin-bottom: 5px;
	line-height: 30px;
	border-bottom: 1px solid #ff6600;
	color: #898989;
	font-size: 14px;
	font-family: "微软雅黑";
}


#bus .col-md-8 dl dd a{color: #595757;letter-spacing:3px; }
#bus .col-md-8 dl dd a:hover{ text-decoration: none;}
/*新闻资讯*/

#news {
	background: #FF6600 url(../img/news_bg.gif) no-repeat center 38px;
}

#news ul li {
	padding-left: 30px;
	line-height: 22px;
	background: url(../img/news_li_bg.gif) no-repeat 10px 5px;
}

#news ul li a {
	color: #fff;
}


/*
 *联系方式 
 */

#bottom {
	background: url(../img/contantus_icon_01.png) no-repeat center 44px;
	color: #595757;
}

#bottom .col-md-2 {
	padding-top: 142px;
	text-align: center;
	margin-left: 48px;
}

#bottom .col-md-2 p {
	line-height: 36px;
}

#bottom .col-md-4 {
	padding-top: 135px;
}

#bottom .col-md-4 address {
	line-height: 29px;
}


/**
 * 轮播黑板
 */

.banner_content {
	width: 380px;
	height: 420px;
	background-image: url(/yuanku_web/img/bro.png);
	position: absolute;
	top: -10px;
	left: 140px;
	z-index: 1;
}

.banner_content:hover {
	-webkit-animation-name: updown;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: leftright;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-ms-animation-name: leftright;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: linear;
}

.banner_content .banner_info {
	position: absolute;
	top: 190px;
	left: 45px;
}

/*返回顶部按钮*/

#btn {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 65px;
	bottom: 10px;
	display: none;
	background:url(../img/top_bg.png) no-repeat left top;
}

#btn:hover {
	background:url(../img/top_bg.png) no-repeat 0 -39px;
}


/**
 * 左右晃动关键帧
 */

@-webkit-keyframes leftright {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(10px, 0px);
	}
	40% {
		-webkit-transform: translate(-10px, 0px);
	}
	60% {
		-webkit-transform: translate(5px, 0px);
	}
	80% {
		-webkit-transform: translate(-5px, 0px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

@-moz-keyframes leftright {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(10px, 0px);
	}
	40% {
		-webkit-transform: translate(-10px, 0px);
	}
	60% {
		-webkit-transform: translate(5px, 0px);
	}
	80% {
		-webkit-transform: translate(-5px, 0px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

@-ms-keyframes leftright {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(10px, 0px);
	}
	40% {
		-webkit-transform: translate(-10px, 0px);
	}
	60% {
		-webkit-transform: translate(5px, 0px);
	}
	80% {
		-webkit-transform: translate(-5px, 0px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}


/**
 * 上下晃动关键帧
 */

@-webkit-keyframes updown {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(0px, 10px);
	}
	40% {
		-webkit-transform: translate(0px, -10px);
	}
	60% {
		-webkit-transform: translate(0px, 5px);
	}
	80% {
		-webkit-transform: translate(0px, -5px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

@-moz-keyframes updown {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(0px, 10px);
	}
	40% {
		-webkit-transform: translate(0px, -10px);
	}
	60% {
		-webkit-transform: translate(0px, 5px);
	}
	80% {
		-webkit-transform: translate(0px, -5px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

@-ms-keyframes updown {
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(0px, 10px);
	}
	40% {
		-webkit-transform: translate(0px, -10px);
	}
	60% {
		-webkit-transform: translate(0px, 5px);
	}
	80% {
		-webkit-transform: translate(0px, -5px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
	}
}
